#List fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-accent1);
    border-radius: 7px;
}

#List fieldset.collapsed {
    border-color: #aaa;
}

#List fieldset legend {
    text-align: center;
    margin-bottom: 5px;
    padding: 0 10px 0.3em 10px;
    color: var(--color-accent1);
    cursor: pointer;
}

#List fieldset.collapsed legend {
    color: #aaa;
}

#List fieldset form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 90px;
}

#List fieldset form input {
    font-size: 0.7em;
    color: var(--color-accent1);
    box-sizing: border-box;
    width: 0;
    min-width: 100%;
    background-color: var(--color-background);
    border-color: var(--color-accent1);
    border-style: solid;
    border-width: 1px;
}

#List .listItems {
    border-radius: 3px;
    padding-right: 5px;
    margin-top: 5px;
}