#List div.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    font-size: 0.8em;
}

#List .listItem div {
    cursor: pointer;
    color: var(--color-accent1);
}