#ListToolbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    gap: 20px;
}

#ListToolbar input {
    font-size: 2em;
    padding: 0 30px;
    color: var(--color-accent1);
    border-color: var(--color-accent1);
}

#ListToolbar #RefreshRate {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-accent1);
}

#ListToolbar #RefreshRate input {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 3px;
    background: var(--color-accent1);
}