#ListSharing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    padding: 10px;
    min-width: 300px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-accent1);
}

#ListSharing h2 {
    text-align: center;
}

#ListSharing form {
    display: flex;
    flex-direction: column;
}

#ListSharing .error {
    color: darkred;
    font-weight: bold;
    min-height: 1.3em;
}

#ListSharing span.remove {
    color: darkred;
    font-size: 1.4em;
    cursor: pointer;
}

#ListSharing .suggestionWrapper {
    position: relative;
}

#ListSharing .suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

#ListSharing .suggestions div {
    border-top: 1px solid #ccc;
    padding: 2px;
    cursor: pointer;
}

#ListSharing .suggestions div:hover {
    background-color: #eee;
}