#List {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    flex-grow: 1;
}

#ListGroups {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}