#ListToolbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    gap: 20px;
}

#ListToolbar .tool {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 2px;
}

#ListToolbar .tool .flexSearch {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 0px;
    transition: ease-in-out 400ms;
}

#ListToolbar .tool .flexSearch.visible {
    width: 200px;
}

#ListToolbar .tool .flexSearch input {
    box-sizing: border-box;
    width: 0;
    min-width: 100%;
    background-color: #fff0;
    border-style: solid;
    border-color: #fff0;
    transition: ease-in-out 400ms;
}

#ListToolbar .tool .flexSearch.visible input {
    background-color: #fff;
    border-color: var(--color-accent1);
}

#ListToolbar .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: var(--color-accent1);
    font-size: 1.5em;
}

.popup-overlay {
    background-color: #000a;
}