#UserMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 5px;
    position: relative;
}

#UserMenuButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#UserMenuContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-accent2);
    min-width: 200px;
    border-radius: 3px;
    border-color: var(--color-accent1);
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

#UserMenuContent div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#UserMenuContent .name {
    font-weight: bold;
    font-size: 1.2em;
}

#UserMenuContent .email {
    font-style: italic;
    font-size: 0.7em;
    color: #777;
    padding-bottom: 3px;
}

#UserMenuContent .multiItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#UserMenuContent .menuItem {
    cursor: pointer;
}

#UserMenuContent .menuRow {
    border-top: 1px solid #ccc;
    min-height: 2.0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#UserMenuContent .menuRow.menuItem:hover {
    background-color: #ddd;
}

#UserMenuContent .menuRow.menuItem.confirm {
    background-color: #f66;
}