.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    font-size: 0.8em;
    padding: 5px 5px;
    cursor: pointer;
    border-color: var(--color-accent1);
    color: var(--color-accent1);
}

.toggle.active {
    background-color: var(--color-accent1);
    color: var(--color-accent2);
}